* {
  box-sizing: border-box;
}

body {
  margin: 0%;
}

h1 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
}

.header {
  width: 100%;
  margin: auto;
  background: #ffffff;
  border-color: #cccccc;
  height: 70px;
}

.navbar {
  max-width: 960px;
  height: 20px;
  margin: auto;
}

.logo {
  color: white;
  padding: 20px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 40%;
  float: left;
  text-align: center;
  font-size: 26px;
}

.topnav {
  width: 25%;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
  float: left;
  width: 33.33%;
  padding: 26px 10px 26px 10px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #777777;
}

.topnav a:hover {
  background-color: #4aaaa5;
  color: #ffffff;
}

.main {
  max-width: 960px;
  margin: auto;
  clear: both;
  padding-top: 20px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#profilepic {
  float: left;
  margin-right: 20px;
}

.footer {
  width: 100%;
  background-color: #666666;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  color: white;
  padding: 15px;
}